<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>other</key>
	<array>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>10</real>
			<key>image</key>
			<string>5001</string>
			<key>id</key>
			<string>5001</string>
			<key>name</key>
			<string>菠萝包</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>25</real>
			<key>image</key>
			<string>5002</string>
			<key>id</key>
			<string>5002</string>
			<key>name</key>
			<string>蛋挞</string>
		</dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>26</real>
            <key>image</key>
            <string>5003</string>
            <key>id</key>
            <string>5003</string>
            <key>name</key>
            <string>葱油夹心面包</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>23</real>
            <key>image</key>
            <string>5004</string>
            <key>id</key>
            <string>5004</string>
            <key>name</key>
            <string>毛毛虫面包</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>25</real>
            <key>image</key>
            <string>5005</string>
            <key>id</key>
            <string>5005</string>
            <key>name</key>
            <string>三明治</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>23</real>
            <key>image</key>
            <string>5006</string>
            <key>id</key>
            <string>5006</string>
            <key>name</key>
            <string>甜甜圈</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>34</real>
            <key>image</key>
            <string>5007</string>
            <key>id</key>
            <string>5007</string>
            <key>name</key>
            <string>长面包</string>
        </dict>
	</array>
	<key>warmmilk</key>
	<array>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>30</real>
			<key>image</key>
			<string>4001</string>
			<key>id</key>
			<string>4001</string>
			<key>name</key>
			<string>纯牛奶</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>15</real>
			<key>image</key>
			<string>4002</string>
			<key>id</key>
			<string>4002</string>
			<key>name</key>
			<string>铁锌奶</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>17</real>
			<key>image</key>
			<string>4003</string>
			<key>id</key>
			<string>4003</string>
			<key>name</key>
			<string>莫拉菲尔</string>
		</dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>17</real>
            <key>image</key>
            <string>4004</string>
            <key>id</key>
            <string>4004</string>
            <key>name</key>
            <string>摩拉菲尔-大红枣口味</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>17</real>
            <key>image</key>
            <string>4005</string>
            <key>id</key>
            <string>4005</string>
            <key>name</key>
            <string>摩拉菲尔-水牛奶</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>17</real>
            <key>image</key>
            <string>4006</string>
            <key>id</key>
            <string>4006</string>
            <key>name</key>
            <string>摩拉菲尔-酸奶</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>17</real>
            <key>image</key>
            <string>4007</string>
            <key>id</key>
            <string>4007</string>
            <key>name</key>
            <string>高钙奶</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>17</real>
            <key>image</key>
            <string>4008</string>
            <key>id</key>
            <string>4008</string>
            <key>name</key>
            <string>红牛奶</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>17</real>
            <key>image</key>
            <string>4009</string>
            <key>id</key>
            <string>4009</string>
            <key>name</key>
            <string>木瓜奶</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>17</real>
            <key>image</key>
            <string>4010</string>
            <key>id</key>
            <string>4010</string>
            <key>name</key>
            <string>水牛奶</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>17</real>
            <key>image</key>
            <string>4011</string>
            <key>id</key>
            <string>4011</string>
            <key>name</key>
            <string>西山牧场水牛奶</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>17</real>
            <key>image</key>
            <string>4012</string>
            <key>id</key>
            <string>4012</string>
            <key>name</key>
            <string>紫牛奶</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>17</real>
            <key>image</key>
            <string>4013</string>
            <key>id</key>
            <string>4013</string>
            <key>name</key>
            <string>AD钙奶</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>17</real>
            <key>image</key>
            <string>4014</string>
            <key>id</key>
            <string>4014</string>
            <key>name</key>
            <string>摩拉菲尔-原味</string>
        </dict>
	</array>
	<key>drink</key>
	<array>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>10</real>
			<key>image</key>
			<string>3001</string>
			<key>id</key>
			<string>3001</string>
			<key>name</key>
			<string>冰果粒</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>20</real>
			<key>image</key>
			<string>3002</string>
			<key>id</key>
			<string>3002</string>
			<key>name</key>
			<string>冰红茶</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>34</real>
			<key>image</key>
			<string>3003</string>
			<key>id</key>
			<string>3003</string>
			<key>name</key>
			<string>营养快线</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>22</real>
			<key>image</key>
			<string>3004</string>
			<key>id</key>
			<string>3004</string>
			<key>name</key>
			<string>芬达</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>12</real>
			<key>image</key>
			<string>3005</string>
			<key>id</key>
			<string>3005</string>
			<key>name</key>
			<string>红牛</string>
		</dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>12</real>
            <key>image</key>
            <string>3006</string>
            <key>id</key>
            <string>3006</string>
            <key>name</key>
            <string>花生牛奶</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>12</real>
            <key>image</key>
            <string>3007</string>
            <key>id</key>
            <string>3007</string>
            <key>name</key>
            <string>加多宝</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>12</real>
            <key>image</key>
            <string>3008</string>
            <key>id</key>
            <string>3008</string>
            <key>name</key>
            <string>可口可乐</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>12</real>
            <key>image</key>
            <string>3009</string>
            <key>id</key>
            <string>3009</string>
            <key>name</key>
            <string>酷儿</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>12</real>
            <key>image</key>
            <string>3010</string>
            <key>id</key>
            <string>3010</string>
            <key>name</key>
            <string>六个核桃</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>12</real>
            <key>image</key>
            <string>3011</string>
            <key>id</key>
            <string>3011</string>
            <key>name</key>
            <string>脉动</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>12</real>
            <key>image</key>
            <string>3012</string>
            <key>id</key>
            <string>3012</string>
            <key>name</key>
            <string>芒果多</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>12</real>
            <key>image</key>
            <string>3013</string>
            <key>id</key>
            <string>3013</string>
            <key>name</key>
            <string>美年达</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>12</real>
            <key>image</key>
            <string>3014</string>
            <key>id</key>
            <string>3014</string>
            <key>name</key>
            <string>茉莉花茶</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>12</real>
            <key>image</key>
            <string>3015</string>
            <key>id</key>
            <string>3015</string>
            <key>name</key>
            <string>酸梅汤</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>12</real>
            <key>image</key>
            <string>3016</string>
            <key>id</key>
            <string>3016</string>
            <key>name</key>
            <string>哇哈哈AD钙奶</string>
        </dict>
	</array>
	<key>snacks</key>
	<array>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>32</real>
			<key>image</key>
			<string>2001</string>
			<key>id</key>
			<string>2001</string>
			<key>name</key>
			<string>小鱼仔</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>34</real>
			<key>image</key>
			<string>2002</string>
			<key>id</key>
			<string>2002</string>
			<key>name</key>
			<string>彩虹糖</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>16</real>
			<key>image</key>
			<string>2003</string>
			<key>id</key>
			<string>2003</string>
			<key>name</key>
			<string>酒鬼花生</string>
		</dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>16</real>
            <key>image</key>
            <string>2004</string>
            <key>id</key>
            <string>2004</string>
            <key>name</key>
            <string>麻辣腿</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>16</real>
            <key>image</key>
            <string>2005</string>
            <key>id</key>
            <string>2005</string>
            <key>name</key>
            <string>飘香豆</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>16</real>
            <key>image</key>
            <string>2006</string>
            <key>id</key>
            <string>2006</string>
            <key>name</key>
            <string>小鱼仔-劲仔</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>16</real>
            <key>image</key>
            <string>2007</string>
            <key>id</key>
            <string>2007</string>
            <key>name</key>
            <string>鸭脖</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>16</real>
            <key>image</key>
            <string>2008</string>
            <key>id</key>
            <string>2008</string>
            <key>name</key>
            <string>鱼豆腐</string>
        </dict>
	</array>
	<key>milk</key>
	<array>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>11</real>
			<key>image</key>
			<string>1001</string>
			<key>id</key>
			<string>1001</string>
			<key>name</key>
			<string>水牛鲜牛奶</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>100</real>
			<key>image</key>
			<string>1002</string>
			<key>id</key>
			<string>1002</string>
			<key>name</key>
			<string>爱特浓-杯装</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>34</real>
			<key>image</key>
			<string>1003</string>
			<key>id</key>
			<string>1003</string>
			<key>name</key>
			<string>爱特浓</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>50</real>
			<key>image</key>
			<string>1004</string>
			<key>id</key>
			<string>1004</string>
			<key>name</key>
			<string>爱特浓杯装-益钙酸奶</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>23</real>
			<key>image</key>
			<string>1005</string>
			<key>id</key>
			<string>1005</string>
			<key>name</key>
			<string>高钙奶</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>33</real>
			<key>image</key>
			<string>1006</string>
			<key>id</key>
			<string>1006</string>
			<key>name</key>
			<string>水牛高钙奶</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>54</real>
			<key>image</key>
			<string>1007</string>
			<key>id</key>
			<string>1007</string>
			<key>name</key>
			<string>爱特浓袋装-大红枣口味</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>65</real>
			<key>image</key>
			<string>1008</string>
			<key>id</key>
			<string>1008</string>
			<key>name</key>
			<string>爱特浓袋装-原味</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>23</real>
			<key>image</key>
			<string>1009</string>
			<key>id</key>
			<string>1009</string>
			<key>name</key>
			<string>纯鲜牛奶</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>23</real>
			<key>image</key>
			<string>1010</string>
			<key>id</key>
			<string>1010</string>
			<key>name</key>
			<string>纯鲜水牛奶</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>45</real>
			<key>image</key>
			<string>1011</string>
			<key>id</key>
			<string>1011</string>
			<key>name</key>
			<string>大红枣酸奶</string>
		</dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>45</real>
            <key>image</key>
            <string>1012</string>
            <key>id</key>
            <string>1012</string>
            <key>name</key>
            <string>酸牛奶</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>45</real>
            <key>image</key>
            <string>1013</string>
            <key>id</key>
            <string>1013</string>
            <key>name</key>
            <string>益生菌发酵乳</string>
        </dict>
        <dict>
            <key>count</key>
            <integer>10</integer>
            <key>price</key>
            <real>45</real>
            <key>image</key>
            <string>1014</string>
            <key>id</key>
            <string>1014</string>
            <key>name</key>
            <string>原生态水牛奶</string>
        </dict>
	</array>
</dict>
</plist>
