<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>other</key>
	<array>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>10</real>
			<key>image</key>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1490622493408&amp;di=82fabd2109363399317ea1265ecef71c&amp;imgtype=0&amp;src=http%3A%2F%2Fmxycsku.qiniucdn.com%2Fgroup5%2FM00%2FB2%2F34%2FwKgBf1VjAmqAIA3mAEqbpeBYMkU52.jpeg</string>
			<key>id</key>
			<string>5001</string>
			<key>name</key>
			<string>菠萝包</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>25</real>
			<key>image</key>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1490622493408&amp;di=82fabd2109363399317ea1265ecef71c&amp;imgtype=0&amp;src=http%3A%2F%2Fmxycsku.qiniucdn.com%2Fgroup5%2FM00%2FB2%2F34%2FwKgBf1VjAmqAIA3mAEqbpeBYMkU52.jpeg</string>
			<key>id</key>
			<string>5002</string>
			<key>name</key>
			<string>蛋挞</string>
		</dict>
	</array>
	<key>warmmilk</key>
	<array>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>30</real>
			<key>image</key>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1490622493408&amp;di=82fabd2109363399317ea1265ecef71c&amp;imgtype=0&amp;src=http%3A%2F%2Fmxycsku.qiniucdn.com%2Fgroup5%2FM00%2FB2%2F34%2FwKgBf1VjAmqAIA3mAEqbpeBYMkU52.jpeg</string>
			<key>id</key>
			<string>4001</string>
			<key>name</key>
			<string>纯牛奶</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>15</real>
			<key>image</key>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1490622493408&amp;di=82fabd2109363399317ea1265ecef71c&amp;imgtype=0&amp;src=http%3A%2F%2Fmxycsku.qiniucdn.com%2Fgroup5%2FM00%2FB2%2F34%2FwKgBf1VjAmqAIA3mAEqbpeBYMkU52.jpeg</string>
			<key>id</key>
			<string>4002</string>
			<key>name</key>
			<string>铁锌奶</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>17</real>
			<key>image</key>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1490622493408&amp;di=82fabd2109363399317ea1265ecef71c&amp;imgtype=0&amp;src=http%3A%2F%2Fmxycsku.qiniucdn.com%2Fgroup5%2FM00%2FB2%2F34%2FwKgBf1VjAmqAIA3mAEqbpeBYMkU52.jpeg</string>
			<key>id</key>
			<string>4003</string>
			<key>name</key>
			<string>莫拉菲尔</string>
		</dict>
	</array>
	<key>drink</key>
	<array>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>10</real>
			<key>image</key>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1490622493408&amp;di=82fabd2109363399317ea1265ecef71c&amp;imgtype=0&amp;src=http%3A%2F%2Fmxycsku.qiniucdn.com%2Fgroup5%2FM00%2FB2%2F34%2FwKgBf1VjAmqAIA3mAEqbpeBYMkU52.jpeg</string>
			<key>id</key>
			<string>3001</string>
			<key>name</key>
			<string>纯净水</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>20</real>
			<key>image</key>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1490622493408&amp;di=82fabd2109363399317ea1265ecef71c&amp;imgtype=0&amp;src=http%3A%2F%2Fmxycsku.qiniucdn.com%2Fgroup5%2FM00%2FB2%2F34%2FwKgBf1VjAmqAIA3mAEqbpeBYMkU52.jpeg</string>
			<key>id</key>
			<string>3002</string>
			<key>name</key>
			<string>阿萨姆奶茶</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>34</real>
			<key>image</key>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1490622493408&amp;di=82fabd2109363399317ea1265ecef71c&amp;imgtype=0&amp;src=http%3A%2F%2Fmxycsku.qiniucdn.com%2Fgroup5%2FM00%2FB2%2F34%2FwKgBf1VjAmqAIA3mAEqbpeBYMkU52.jpeg</string>
			<key>id</key>
			<string>3003</string>
			<key>name</key>
			<string>营养快线</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>22</real>
			<key>image</key>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1490622493408&amp;di=82fabd2109363399317ea1265ecef71c&amp;imgtype=0&amp;src=http%3A%2F%2Fmxycsku.qiniucdn.com%2Fgroup5%2FM00%2FB2%2F34%2FwKgBf1VjAmqAIA3mAEqbpeBYMkU52.jpeg</string>
			<key>id</key>
			<string>3004</string>
			<key>name</key>
			<string>绿茶</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>12</real>
			<key>image</key>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1490622493408&amp;di=82fabd2109363399317ea1265ecef71c&amp;imgtype=0&amp;src=http%3A%2F%2Fmxycsku.qiniucdn.com%2Fgroup5%2FM00%2FB2%2F34%2FwKgBf1VjAmqAIA3mAEqbpeBYMkU52.jpeg</string>
			<key>id</key>
			<string>3005</string>
			<key>name</key>
			<string>红牛</string>
		</dict>
	</array>
	<key>snacks</key>
	<array>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>32</real>
			<key>image</key>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1490622493408&amp;di=82fabd2109363399317ea1265ecef71c&amp;imgtype=0&amp;src=http%3A%2F%2Fmxycsku.qiniucdn.com%2Fgroup5%2FM00%2FB2%2F34%2FwKgBf1VjAmqAIA3mAEqbpeBYMkU52.jpeg</string>
			<key>id</key>
			<string>2001</string>
			<key>name</key>
			<string>小鱼仔</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>34</real>
			<key>image</key>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1490622493408&amp;di=82fabd2109363399317ea1265ecef71c&amp;imgtype=0&amp;src=http%3A%2F%2Fmxycsku.qiniucdn.com%2Fgroup5%2FM00%2FB2%2F34%2FwKgBf1VjAmqAIA3mAEqbpeBYMkU52.jpeg</string>
			<key>id</key>
			<string>2002</string>
			<key>name</key>
			<string>棒棒糖</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>16</real>
			<key>image</key>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1490622493408&amp;di=82fabd2109363399317ea1265ecef71c&amp;imgtype=0&amp;src=http%3A%2F%2Fmxycsku.qiniucdn.com%2Fgroup5%2FM00%2FB2%2F34%2FwKgBf1VjAmqAIA3mAEqbpeBYMkU52.jpeg</string>
			<key>id</key>
			<string>2003</string>
			<key>name</key>
			<string>瓜子饼</string>
		</dict>
	</array>
	<key>milk</key>
	<array>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>11</real>
			<key>image</key>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1490622493408&amp;di=82fabd2109363399317ea1265ecef71c&amp;imgtype=0&amp;src=http%3A%2F%2Fmxycsku.qiniucdn.com%2Fgroup5%2FM00%2FB2%2F34%2FwKgBf1VjAmqAIA3mAEqbpeBYMkU52.jpeg</string>
			<key>id</key>
			<string>1001</string>
			<key>name</key>
			<string>水牛鲜牛奶</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>100</real>
			<key>image</key>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1490622493408&amp;di=82fabd2109363399317ea1265ecef71c&amp;imgtype=0&amp;src=http%3A%2F%2Fmxycsku.qiniucdn.com%2Fgroup5%2FM00%2FB2%2F34%2FwKgBf1VjAmqAIA3mAEqbpeBYMkU52.jpeg</string>
			<key>id</key>
			<string>1002</string>
			<key>name</key>
			<string>AD奶</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>34</real>
			<key>image</key>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1490622493408&amp;di=82fabd2109363399317ea1265ecef71c&amp;imgtype=0&amp;src=http%3A%2F%2Fmxycsku.qiniucdn.com%2Fgroup5%2FM00%2FB2%2F34%2FwKgBf1VjAmqAIA3mAEqbpeBYMkU52.jpeg</string>
			<key>id</key>
			<string>1003</string>
			<key>name</key>
			<string>鲜牛奶</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>50</real>
			<key>image</key>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1490622493408&amp;di=82fabd2109363399317ea1265ecef71c&amp;imgtype=0&amp;src=http%3A%2F%2Fmxycsku.qiniucdn.com%2Fgroup5%2FM00%2FB2%2F34%2FwKgBf1VjAmqAIA3mAEqbpeBYMkU52.jpeg</string>
			<key>id</key>
			<string>1004</string>
			<key>name</key>
			<string>铁锌奶</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>23</real>
			<key>image</key>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1490622493408&amp;di=82fabd2109363399317ea1265ecef71c&amp;imgtype=0&amp;src=http%3A%2F%2Fmxycsku.qiniucdn.com%2Fgroup5%2FM00%2FB2%2F34%2FwKgBf1VjAmqAIA3mAEqbpeBYMkU52.jpeg</string>
			<key>id</key>
			<string>1005</string>
			<key>name</key>
			<string>高钙奶</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>33</real>
			<key>image</key>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1490622493408&amp;di=82fabd2109363399317ea1265ecef71c&amp;imgtype=0&amp;src=http%3A%2F%2Fmxycsku.qiniucdn.com%2Fgroup5%2FM00%2FB2%2F34%2FwKgBf1VjAmqAIA3mAEqbpeBYMkU52.jpeg</string>
			<key>id</key>
			<string>1006</string>
			<key>name</key>
			<string>水牛高钙奶</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>54</real>
			<key>image</key>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1490622493408&amp;di=82fabd2109363399317ea1265ecef71c&amp;imgtype=0&amp;src=http%3A%2F%2Fmxycsku.qiniucdn.com%2Fgroup5%2FM00%2FB2%2F34%2FwKgBf1VjAmqAIA3mAEqbpeBYMkU52.jpeg</string>
			<key>id</key>
			<string>1007</string>
			<key>name</key>
			<string>双歧酸奶</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>65</real>
			<key>image</key>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1490622493408&amp;di=82fabd2109363399317ea1265ecef71c&amp;imgtype=0&amp;src=http%3A%2F%2Fmxycsku.qiniucdn.com%2Fgroup5%2FM00%2FB2%2F34%2FwKgBf1VjAmqAIA3mAEqbpeBYMkU52.jpeg</string>
			<key>id</key>
			<string>1008</string>
			<key>name</key>
			<string>低脂酸奶</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>23</real>
			<key>image</key>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1490622493408&amp;di=82fabd2109363399317ea1265ecef71c&amp;imgtype=0&amp;src=http%3A%2F%2Fmxycsku.qiniucdn.com%2Fgroup5%2FM00%2FB2%2F34%2FwKgBf1VjAmqAIA3mAEqbpeBYMkU52.jpeg</string>
			<key>id</key>
			<string>1009</string>
			<key>name</key>
			<string>爱特浓浓缩酸奶</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>23</real>
			<key>image</key>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1490622493408&amp;di=82fabd2109363399317ea1265ecef71c&amp;imgtype=0&amp;src=http%3A%2F%2Fmxycsku.qiniucdn.com%2Fgroup5%2FM00%2FB2%2F34%2FwKgBf1VjAmqAIA3mAEqbpeBYMkU52.jpeg</string>
			<key>id</key>
			<string>1010</string>
			<key>name</key>
			<string>水牛乳酸酸奶</string>
		</dict>
		<dict>
			<key>count</key>
			<integer>10</integer>
			<key>price</key>
			<real>45</real>
			<key>image</key>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1490622493408&amp;di=82fabd2109363399317ea1265ecef71c&amp;imgtype=0&amp;src=http%3A%2F%2Fmxycsku.qiniucdn.com%2Fgroup5%2FM00%2FB2%2F34%2FwKgBf1VjAmqAIA3mAEqbpeBYMkU52.jpeg</string>
			<key>id</key>
			<string>1011</string>
			<key>name</key>
			<string>乳酸酸奶</string>
		</dict>
	</array>
</dict>
</plist>
